---
import Base from '@layouts/Base.astro';
---

<Base>
    <h1>History</h1>

    <p>
        You can see the archival AZFO site at <a href="http://azfo.net"
            >azfo.net</a
        >
    </p>
</Base>
