---
import Base from '../../../layouts/Base.astro';
import Image from 'astro/components/Image.astro';
import { getCollection } from 'astro:content';
export async function getStaticPaths() {
    const expeditions = await getCollection('expeditions');
    return expeditions.map((expedition) => ({
        params: { slug: expedition.slug },
        props: { expedition },
    }));
}

const { expedition } = Astro.props;
const { Content } = await expedition.render();
---

<Base>
    {expedition.data.image && <Image src={expedition.data.image} alt="" />}
    <h1>{expedition.data.title}</h1>
    <time datetime="">{expedition.data.date}</time>
    <Content />
</Base>
