---
import NewsCard from '@components/NewsCard.astro';
import Base from '@layouts/Base.astro';
import { getCollection } from 'astro:content';
const news = await getCollection('news');
console.log('news', news);
---

<Base>
    <h1>Arizona Field Ornithologists</h1>
    <div>
        <p>
            AZFO is an organization of birders dedicated to increasing the
            knowledge of the changing status, identification, and distribution
            of Arizona's birdlife. You can participate in our programs, peruse
            our online journal articles, and get involved in our mission. AZFO
            is a 501(c)(3) nonprofit organization.
        </p>
        <p>
            <a href="/about">Learn More</a>
        </p>
    </div>
    <div>
        <h2>News / Upcoming Events</h2>
        <ul>
            {
                news.map((item) => (
                    <li>
                        <NewsCard data={item} />
                    </li>
                ))
            }
        </ul>
    </div>
    <!-- <footer>
        <h2>AZFO Quick Links</h2>
        <ul>
            <li><a href="/links">Partner Organizations</a></li>
            <li><a href="/photo-credits">Photo Credits</a></li>
            <li>
                <a href="https://arizonabirdcommittee.com"
                    >Submit Rare Bird Sighting to AZ Bird Committee</a
                >
            </li>
        </ul>
    </footer> -->
</Base>
