---

---

<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <ul>
            <li>
                <a href="/about#team">Team</a>
            </li>
            <li>
                <a href="/about#history">History</a>
            </li>
        </ul>
        <li><a href="/programs">Programs</a></li>
        <ul>
            <li>
                <a href="/programs/expeditions">Field Expeditions</a>
            </li>
            <li>
                <a href="https://arizonabirds.org"
                    >Arizona Birds Online Journal</a
                >
            </li>
            <li>
                <a href="/surveys">Counts and Surveys</a>
            </li>
            <li>
                <a href="/annual-meeting">Annual Meetings</a>
            </li>
            <li>
                <a href="/awards">Awards & Grants</a>
            </li>
            <li>
                <a href="/workshops">Workshops</a>
            </li>
            <li>
                <a href="/ebird-gaps">eBird Gaps</a>
            </li>
        </ul>
        <li><a href="/membership">Join / Donate</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>
