---
import Nav from '@components/Nav.astro';
import { Image } from 'astro:assets';
import AZFOsmall from 'src/assets/images/AZFOlogo_small.webp';
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Arizona Field Ornithologists</title>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"
        />
    </head>
    <body
        ><header>
            <a href="/">
                <Image src={AZFOsmall} alt="AZFO logo" />
                <!-- <h1>AZFO</h1> -->
            </a>
            <details>
                <summary tabindex="1">Site Navigation</summary>
                <Nav />
            </details>
        </header>
        <main>
            <slot />
        </main>
        <footer>
            &copy; Arizona Field Ornithologists {new Date().getFullYear()}
        </footer>
    </body>
</html>
